<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>CAMNews</title>

  <!-- Furatto core CSS -->
  <link href="./libs/furatto/css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <link href="fonts/stylesheet.css" rel="stylesheet" >
  <link href="css/style.css" rel="stylesheet" >

</head>
<body>
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="sidebar-header">
        <label>Selected Articles</label>
        <a class="pure-button finish-btn" >完了</a>
      </div>
      <div class="selected-list">
        <div class="selected-item">
          <p class="selected-category">業界</p>
          <div class="selected-articles"></div>
        </div>
        <div class="selected-item">
          <p class="selected-category">スマホ</p>
          <div class="selected-articles"></div>
        </div>
        <div class="selected-item">
          <p class="selected-category">広告</p>
          <div class="selected-articles"></div>
        </div>
        <div class="selected-item">
          <p class="selected-category">エンタメ</p>
          <div class="selected-articles"></div>
        </div>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div class="header">
        <span id="episode">
          episode : <label id="episode-number"></label>
          <span id="edit-episode" class="edit-btn">修正</span>
        </span> /
        <i class="fa fa-user icon-user"><label id="user-name"></label></i>
      </div>
      <div class="loader">
        <label>Loading...</label>
        <span></span>
      </div>
      <div id="articles">
      </div>
    </div>
  </div>

<!--

CAMNewsの結果を表示するダイアログ

-->
<div id="mail-format-dialog" style="display:none;"></div>

<!--

名前入力ダイアログ

-->
<div id="ask-name-dialog" style="display:none;">
  <div class="pure-form">
    <p>メール本文に使う名前を入力してください。<br>例)システムGの山元</p>
    <input type="text" id="user-name-input" placeholder="例)システムGの山元">
  </div>
  <div id="ask-name-ok" class="ok-btn">OK</div>
</div>

<div id="edit-episode-dialog" style="display:none;">
  <div class="pure-form" >
    <p>EPISODEの番号入力してください</p>
    <input type="number" id="episode-number-input">
    <div id="edit-episode-ok" class="ok-btn">OK</div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./libs/micro_templating.js"></script>
<script src="./libs/jquery-ui-1.10.4.custom.min.js"></script>
<script src="./js/article_manager.js"></script>
<script src="./js/main.js"></script>

<!--
	選択した記事リストのテンプレート
-->
<script type="text/html" id="selected_article_item_template">
  <p class="selected-title"><span class="delete-btn">×</span><a href="<%= link %>"target="_blank"><%= title %></a></p>
</script>

<!--
	RSSフィードのテンプレート
-->
<script type="text/html" id="articles_template">
  <div class="article-item">
    <% if (category != null) { %>
      <h3 class="category-title"><%= category %></h3>
    <% } %>
    <a href="<%= link %>" target="_blank">
      <div class="thumbnail" style="display: block; opacity: 1; background-image: url(<%= img_src %>);"></div>
    </a>
    <div class="margin-maker">
      <div>
        <a href="<%= link %>" class="title" target="_blank"><%= title %></a>
        <div class="pure-form pure-form-stacked">
          <select class="article-selector">
            <option value="none">カテゴリを選択</option>
            <option value="industry">業界</option>
            <option value="smartphone">スマホ</option>
            <option value="advertisement">広告</option>
            <option value="entertaiment">エンタメ</option>
          </select>
        </div>
      </div>
      <div class="article-summary">
        <p class="article-description"><%= description%></p>
        <p class="article-fotter"><%= source_site %> | <%= date %></p>
      </div>
    </div>
</div>
</script>

<!--
  メール本文のテンプレート
-->
<script type="text/html" id="mail_format_template">
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
<br />
◆◇◆　☆CAmobile NEWS☆　◆◇◆　　★EPISODE:<%= episode_number %> <%= new Date().toMailDateFormat() %><br />
<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
<br />
おはようございます。<br />
本日は、<%= user_name %>がお届け致します。<br />
<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
★☆★　CONTENTS　★☆★━━━━━━━━━━━━━━━━━━━━━━━━<br />
【1】　業界ニュース<br />
──────────────────────────────────<br />
【2】　スマートフォン情報<br />
──────────────────────────────────<br />
【3】　広告関連情報<br />
──────────────────────────────────<br />
【4】　エンタメ情報<br />
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
<% var genres = ["業界ニュース　　　", "スマートフォン情報", "広告関連情報　　　", "エンタメ情報　　　"]; %>
<% for (var i=0; i<genres.length; i++) { %>
★☆★　<%= genres[i] %>　★☆★━━━━━━━━━━━━━━━━━━━<br />
<% for(var j=0; j<articles[i].length; j++) { %>
【<%= j+1 %>】<%= articles[i][j].title %><br />
　　　┗ <%= articles[i][j].link %><br />
‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥<br />
<%= articles[i][j].description %><br /><br />
<% } %>
<% } %>
□■□━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
以上で御座います。<br />
ご確認の程宜しくお願い致します。<br />

</script>

</body>
</html>
